<% provide(:title, 'Contact') %>

	<h1>Contact</h1>
	<p>Leave a feedback or question here
		<br>
		<div id="feedback" name="feedback">
		</div>
	
	</p>
<style type="text/css">
	#feedback {
		overflow: auto;
    	word-wrap: break-word;
		display: inline-block;
		cursor: text;
		resize: none;
		min-height: 73px;

	}
</style>

      